* {
	font-family: "Century Gothic", sans-serif;
	font-weight: bold;
	color: #02908B;
}

.infoContainer {
	margin: 2%;
	margin-top: 1%;
	padding: 2%;
	padding-top: 0;
}

table {
	margin-top: 5%;
	width: 100%;
	padding: 1%;
}

table th {
	color: black !important;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

table td {
	text-align: center;
	vertical-align: middle;
}

.tableBox {
	margin-right: 2%;
	overflow-x: auto;
}

p {
	color: #969696;
	font-size: 100%;
}

h1 {
	font-weight: bold;
}

.info-container {
	display: flex;
}

.form-control-sm {
	outline: none;
	margin-right: 5%;
	margin-left: 5%;
	width: 40%;
}

.assignRoleContainer {
	margin-top: 10%;
	box-shadow: 1px 1px 1px 1px #c0c0c0;
	margin: 2%;
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-bottom: 5%;
	margin-bottom: 5%;
	border-radius: 5px;
}

.userType {
	outline: none;
	border: none;
	border-radius: 5px;
}

.users-box {
	margin-top: 2%;
	width: 100%;
	min-height: 100px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	width: 100%;
}

.btn {
	background-color: #02908B !important;
	text-align: center;
	border-radius: 10px;
}

.btn:hover {
	background-color: #014947 !important;
}

.btnBan {
	background-color: #e45601 !important;
	text-align: center;
	font-size: 100%;
	border-radius: 5px;
	color: black;
	border: none;
	font-weight: normal;
	box-shadow: 1px 1px 1px 1px #c0c0c0;
}

.btnBan:hover {
	background-color: #792e00 !important;
}

.btnUnban {
	background-color: #02908B !important;
	text-align: center;
	font-size: 70%;
	width:45px;
	height:25px;
	border-radius: 5px;
	color: black;
	border: none;
	font-weight: normal;
	box-shadow: 1px 1px 1px 1px #c0c0c0;
}

.btnUnban:hover {
	background-color: #014947 !important;
}