*{
	font-family: "Century Gothic", sans-serif;
  	font-weight: bold;
  	font-size: 26px;
  	color: #02908B;
  	box-sizing: border-box;
}

button {
	padding: 0px 0px 0px 0px;
 	border: none;
 	height: 50px;
 	width: 150px;
 	background-color: #02908B;
 	color: #002134;
 	border-radius: 5px;
}

button:hover {
  	background-color: #B4FBF8;
}

a {
	float: left;
	display: block;
	text-align: center;
	padding: 24px 26px;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	width: 160px;
}
			
a:hover {
    color: #B4FBF8;
}

