.date {
	position: relative;
	font-size: 20px;
	text-align: center;
	width: 140px;
	margin-left: -15px;
}

label {
	color: #002134;
}

.dropdownFilters {
	width: 160px;
	padding: 24px 26px;
	float: right;
	text-align: center;
	border-bottom: 3px solid transparent;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
	background-color: #02908b;
	color: #002134;
	margin-left: 10px;
}

.dropdownOptions {
	position: absolute;
	display: none;
	background-color: #02908B;
	min-width: 200px;
	height: 150px;
	margin-top: 26px;
	margin-left: -666px;
	text-align: center;
	color: #002134;
	border-radius: 10px 0px 10px 10px;
	z-index: 1;
}

.option{
	padding: 24px, 26px;
	width: 200px;
	text-decoration: none;
	display: block;
	color: #002134;
	text-align: center;
}

.dropdownFilters:hover {
	color: #B4FBF8;
	border-radius: 10px 10px 0px 0px;
}

.dropdownFilters:hover .dropdownOptions { display: block; }

/*
.myIcon {
	color: red;
	font-size: 30px;
	margin-top: 10px;
}
*/


