body {
	margin-left: 0px;
	margin-top: 5px;
	background-color: #002134;
}

ul { display: inline; }

li { display: inline; }

nav {
	margin-top: 5px; 
  	overflow: hidden;
	background-color: #002134;
}

nav a {
	width: 100px;
	padding: 24px 26px;
	float: left;
	display: block;
  	text-align: center;
  	font-size: 26px;
  	background-color: transparent;
  	border-bottom: 3px solid transparent;
  	text-decoration: none;
}

.dropdown {
	width: 100px;
	padding: 24px 26px;
	float: left;
	display: block;
  	text-align: center;
  	font-size: 26px;
  	background-color: #02908B;
  	border-bottom: 3px solid transparent;
  	text-decoration: none;
  	color: #002134;	
  	margin-left: 26px;
  	border-radius: 10px 10px 10px 10px;
}

.dropdown:hover {
	color: #B4FBF8;
	border-radius: 10px 10px 0px 0px;
}

nav a:hover {
  	color: #B4FBF8;
  	border-bottom: 3px solid #B4FBF8;
}

nav .rightContainer {
	float: right;
	margin-right: 26px;
	margin-top: 15px;
}

nav input[type=text] {
	width: 500px;
  	height: 50px;
  	padding: 5px 10px;
  	margin-right: 0px;
  	margin-left: 10px;
}

.swiperSection {
    margin-top: 40px;
}

.titleSection {
    margin: 0 4% 12px;
}

.tilesSection.swiper {
    padding: 0 4%;
}

.imageSection {
    width: 100%;
    height: 260px;
    border-radius: 3%;
}

.tilesSection .swiper-button-prev,
.tilesSection .swiper-button-next {
    height: 260px;
    width: 4%;
    width: calc(4% - 5px);
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(20, 20, 20, 0.5);
}

.tilesSection .swiper-button-prev {
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.tilesSection .swiper-button-next {
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.tilesSection .swiper-button-prev::after,
.tilesSection .swiper-button-next::after {
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}

/***********/

.dropdown-content {
	 position: absolute;
	 display: none;
	 background-color: #02908B;
	 min-width: 160px;
	 font-size: 26px;
	 margin-top: 26px;
	 margin-left: -26px;
	 text-align: center;
	 color: #002134;
	 border-radius: 0px 10px 10px 10px;
}

.item {
	 padding: 24px, 26px;
	 text-decoration: none;
	 display: block;
	 color: #002134;
	 text-align: center;
}

.center:hover { color: #002134; background-color: #B4FBF8;  }

.left:hover {
	 border-radius: 0px 0px 0px 10px;
	 color: #002134; background-color: #B4FBF8;
}

.right:hover {
	 border-radius: 0px 10px 10px 0px;
	 color: #002134; background-color: #B4FBF8;
}

.dropdown:hover .dropdown-content { display: block; }



