
.listsContainer {
	
  background-color: #002134;
  width: 800px;
  height: 900px;
  list-style-type: none;
  
  margin-top: 10px;
  margin-left: -15px; 
  position: absolute;
  
  overflow:hidden; overflow-y:scroll;
  
}

.listBox{
   /*position: absolute;*/
   margin-top: 10px;
   width: 800px;
   height: 100px;
   background-color: #02908B;
   margin-left: 0px;
   padding-left: 10px;
   padding-top: 10px;
   color: red;
}

.buttonsContainer{
	margin-left: -15px;
}