body {
	background-repeat: no-repeat;
	background-size: cover;
	background: #002134;
	background: linear-gradient(322deg, #002134 0%, #002134 1%, #02908B 98%);
}

form {
	position: fixed;
	height: 1000px;
 	width: 800px;
  	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
 	background-color: #002134;
 	box-shadow: 3px 3px 3px 3px #001624;
 	border-radius: 20px;
}

.container {
	position: absolute;
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 50%;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.buttonContainer {
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 780px;
}

.registration {
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 900px;
}

