.myReviewBox {
	background-color: #002134;
	box-shadow: 3px 5px 10px 10px #001624;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	margin: 20px;
	border-radius: 5px;
	margin-bottom: 9%;
}

.reviewBox {
	background-color: #002134;
	box-shadow: 3px 5px 10px 10px #001624;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
	position: relative;
}

#deleteReviewBtn {
	position: absolute;
	right: 5px;
	color: tomato;
}
#deleteReviewBtn:hover {
	cursor:hand;
	color: #ff2c06;
}
.myReviewAllBox {
	padding: 20px;
	margin: 20px;
}

.textReview {
	margin-top: 2%;
	overflow: hidden;
	word-wrap: break-word;
}

.usernameReview {
	font-size: 20px !important;
	font-style: italic;
	display: flex;
}

.usernameReview p {
	font-size: 20px !important;
	font-style: italic;
}

.myReviewBoxTextArea {
	resize: none;
}

.reviewBoxTextArea {
	resize: none;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	outline: none;
	box-shadow: 3px 5px 10px 10px #001624;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

.subBtn {
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-top: 1%;
}

input[type=submit]:hover {
	background-color: #45a049;
}



.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}