body {
	margin: 0;
	background-color: #002134;
}
			
.topnav {
	margin-left: 26px;
	margin-right: 26px;
	overflow: hidden;
    background-color: #002134;
}
			
.searchContainer {
	float: right;
}
			
.searchContainer .searchField {
	outline: none;
	width: 500px;
	padding: 16px;
	margin-top: 8px;
	background-color: #002134;
	border-radius: 10px 0px 0px 10px;
	border: 2px solid #02908B;
	outline: none;
	height: 66px;
}

.searchContainer .searchField:hover {
  	color: #B4FBF8;	
  	border-color: #B4FBF8;	 
}
			
.searchContainer .searchButton {
	float: right;
	padding: 16px;
	margin-top: 8px;
	background: #02908B;
	color: #002134;
	border: none;
	cursor: pointer;
	border-radius: 0px 10px 10px 0px;
	height: 66px;
}
			
.searchContainer .searchButton:hover {
	background-color: #B4FBF8;
}
			
.dropdownUser {
	/*white-space: nowrap;*/
    overflow: hidden;
	text-overflow: ellipsis; 
	width: 160px;
	padding: 24px 26px;
	float: left;
	display: block;
	text-align: center;
	border-bottom: 3px solid transparent;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
	background-color: #02908b;
	color: #002134;
}
			
.dropdownItems {
	position: absolute;
	display: none;
	background-color: #02908B;
	min-width: 160px;
	margin-top: 26px;
	margin-left: -26px;
	text-align: center;
	color: #002134;
	border-radius: 0px 10px 10px 10px;
	z-index: 1;
}

.dropdownUser:hover {
	color: #B4FBF8;
	border-radius: 10px 10px 0px 0px;
}

.item {
	 padding: 24px, 26px;
	 width: 160px;
	 text-decoration: none;
	 display: block;
	 color: #002134;
	 text-align: center;
}

.itemCenter:hover { color: #002134; background-color: #B4FBF8;  }

.itemLeft:hover {
	 border-radius: 0px 0px 0px 10px;
	 color: #002134; 
	 background-color: #B4FBF8;
}

.itemRight:hover {
	 border-radius: 0px 10px 10px 0px;
	 color: #002134; 
	 background-color: #B4FBF8;
}

.dropdownUser:hover .dropdownItems { display: block; }
