* {
	font-family: "Century Gothic", sans-serif;
	font-weight: bold;
	color: #02908B;
}

html body {
	background-repeat: no-repeat;
	background-size: cover;
	background: #002134;
	background: linear-gradient(322deg, #002134 0%, #002134 1%, #02908B 98%);
}

.alert{
	font-size: 10px;
}

.top {
	width: 100%;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.formContainer {
	width: 100%;
	justify-content: center;
	display: flex;
	margin-bottom: 5%;
}

.infoContainer {
	max-width: 30%;
	height: 50%;
	margin-top: 2%;
	box-shadow: 3px 3px 3px 3px #001624;
	border-radius: 5px;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	min-width: 25%;
	background-color: #002134;
}

input[type=text], input[type=password],input[type=email], select {
	width: 100%;
	height: 35px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 12px 20px;
	background-color: #002134;
	border: 2px solid #02908B;
	border-radius: 5px;
	outline: none;
}

input[type=text]:hover, input[type=password]:hover {
  	color: #B4FBF8;	
  	border-color: #B4FBF8;	 
}

input[type=submit] {
	width: 100%;
	height: 35px;
	margin: 8px 0;
	border-radius: 4px;
	cursor: pointer;
	background-color: #02908B;
	border: none;
	color: #002134;
	text-align: center;
	font-size: 100%;
}

input[type=submit]:hover {
	background-color: #B4FBF8;
}

hr.solid {
	border-top: 1px #d6d6d6;
}